#wd-quiz-editor-tag.list-group-horizontal {
    display: flex;
    flex-direction: row;
  }

  #wd-quiz-editor-tag .list-group-item {
    margin-right: 0;
  }

  #wd-quiz-editor-tag .list-group-item.active {
    background-color: transparent;
    color: black;

}
